body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    color: black;
}

.bandeau_haut {
    background-image: url('../images/bandeau.jpg');
    background-size: cover; /* Pour couvrir toute la largeur et la hauteur */
    background-position: center;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    margin-top: 0%;
}

.header-right {
    display: flex;
    align-items: center;
    color: white;
}

.header-right p {
    margin-right: 10px;
}

.header-right .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-center {
    flex: 1;
    text-align: center;
}

.hero {
    display: flex;
    align-items: stretch; /* Aligne les éléments enfants avec la hauteur du conteneur */
    padding: 20px;
    background-color: white;
}

.body_left, .body_right {
    flex: 1; /* Chaque colonne prend une largeur égale */
    padding: 10px;
    box-sizing: border-box;
    max-width: 50%; /* Assure que les colonnes ne dépassent pas la moitié de la largeur du conteneur */
    overflow: hidden; /* Masque le débordement pour éviter les problèmes de mise en page */
    word-wrap: break-word; /* Permet au texte de se renvoyer à la ligne */
    hyphens: auto; /* Ajoute des césures automatiques pour le texte long */
}

.separator {
    width: 1px;
    background-color: #ccc; /* Couleur de la ligne de séparation */
    height: 100%; /* La ligne occupe toute la hauteur du conteneur */
    margin: 0 10px; /* Espacement autour de la ligne */
}

.body_left img, .body_right img {
    width: 100%;
    height: auto;
}

.hero p {
    font-size: 24px;
}

.hero h1 {
    font-size: 48px;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

#about {
    text-align: left;
    color: #000000;
}

#services {
    text-align: right;
    color: rgb(0, 0, 0);
}

#contact {
    text-align: center;
    color: #000000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-center {
    text-align: center;
    flex-grow: 1;
}

.footer-right {
    margin-right: 20px;
}

/* Bouton de déconnexion */
#logout-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

#logout-button:hover {
    background-color: #a53c3c;
}
